@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-gold: #ffc200;
}

html {
  scroll-behavior: smooth;
}

@layer base {
  h2 {
    @apply text-4xl lg:text-5xl xl:text-6xl font-semibold;
  }
}

@layer utilities {
  .text-content {
    @apply text-lg lg:text-xl;
  }
}

.card-container {
  perspective: 1000px;
}

.card-container:hover > .card {
  transform: rotateY(180deg);
}

.card {
  transition: transform 750ms;
  transform-style: preserve-3d;
}

.card-back,
.card-front {
  position: absolute;
  backface-visibility: hidden;
}

.card-back {
  transform: rotateY(180deg);
}
